- about ||= @about
- namespace_type ||= @namespace_type
- namespace_id ||= @namespace_id

.abstractor_abstractions
  = link_to 'Not applicable all', Abstractor::UserInterface.abstractor_relative_path(abstractor.update_all_abstractor_abstractions_path(about_type: about.class, about_id: about.id, abstractor_abstraction_value: 'not applicable')), data: { confirm: 'Are you sure?'}, method: :put, class: 'abstractor_not_applicable_all_link'
  = link_to 'Unknown all', Abstractor::UserInterface.abstractor_relative_path(abstractor.update_all_abstractor_abstractions_path(about_type: about.class, about_id: about.id, abstractor_abstraction_value: 'unknown')), data: { confirm: 'Are you sure?'}, method: :put,  class: 'abstractor_unknown_all_link'

  = render partial: 'abstractor/abstractor_abstractions/grouped_abstractions_list',   locals: { about: about, namespace_type: namespace_type, namespace_id: namespace_id}
  = render partial: 'abstractor/abstractor_abstractions/ungrouped_abstractions_list', locals: { about: about, namespace_type: namespace_type, namespace_id: namespace_id}

#abstractor_abstraction_dialog_tooltip