#imaging_exam
  %h2
    Imaging Exam
  = render :partial => 'abstractor/abstractor_abstractions/list', :locals => { about: @imaging_exam, namespace_type: @namespace_type, namespace_id: @namespace_id }