.abstractor_abstractions {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 958.33333px;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

* html .abstractor_abstractions {
  overflow-x: hidden;
}

.abstractor_abstractions label, .abstractor_abstractions input {
  display: inline-block;
  margin-bottom: 0.6em;
  font-weight: normal !important;
}

.abstractor_abstractions input[type="submit"] {
  margin-bottom: 0;
}

.abstractor_abstractions .highlighted {
  background: #e6e6e6;
  padding: 0.25em;
}

.abstractor_abstractions fieldset {
  border: 1px solid #969696;
  margin: 0.75em 0;
  padding: 0.75em 0.5em 0.4em 0.5em;
}

.abstractor_abstractions fieldset input.combobox {
  vertical-align: bottom;
  width: 12em !important;
}

.abstractor_abstractions fieldset .ui-button-icon-only {
  margin-bottom: 0.6em;
}

.abstractor_abstractions fieldset .ui-button-icon-only .ui-icon {
  margin-left: -8px !important;
  margin-top: -8px !important;
}

.abstractor_abstractions fieldset .ui-button-icon-only span.ui-button-text {
  padding: 0;
  margin: 0.1em 0 0.25em !important;
}

.abstractor_abstractions fieldset .column-1-5 {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 62.625px;
}

* html .abstractor_abstractions fieldset .column-1-5 {
  overflow-x: hidden;
}

.abstractor_abstractions fieldset .column-1 {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 38.41667px;
}

* html .abstractor_abstractions fieldset .column-1 {
  overflow-x: hidden;
}

.abstractor_abstractions fieldset .column-2 {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 86.83333px;
}

* html .abstractor_abstractions fieldset .column-2 {
  overflow-x: hidden;
}

.abstractor_abstractions fieldset .column-3 {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 135.25px;
}

* html .abstractor_abstractions fieldset .column-3 {
  overflow-x: hidden;
}

.abstractor_abstractions fieldset .column-4 {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 183.66667px;
}

* html .abstractor_abstractions fieldset .column-4 {
  overflow-x: hidden;
}

.abstractor_abstractions fieldset .column-5 {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 232.08333px;
}

* html .abstractor_abstractions fieldset .column-5 {
  overflow-x: hidden;
}

.abstractor_abstractions fieldset .column-6 {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 280.5px;
}

* html .abstractor_abstractions fieldset .column-6 {
  overflow-x: hidden;
}

.abstractor_abstractions fieldset .column-7 {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 328.91667px;
}

* html .abstractor_abstractions fieldset .column-7 {
  overflow-x: hidden;
}

.abstractor_abstractions fieldset .column-8 {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 377.33333px;
}

* html .abstractor_abstractions fieldset .column-8 {
  overflow-x: hidden;
}

.abstractor_abstractions fieldset .column-9 {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 425.75px;
}

* html .abstractor_abstractions fieldset .column-9 {
  overflow-x: hidden;
}

.abstractor_abstractions fieldset .column-10 {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 474.16667px;
}

* html .abstractor_abstractions fieldset .column-10 {
  overflow-x: hidden;
}

.abstractor_abstractions fieldset .column-11 {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 522.58333px;
}

* html .abstractor_abstractions fieldset .column-11 {
  overflow-x: hidden;
}

.abstractor_abstractions fieldset .column-12 {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 571px;
}

* html .abstractor_abstractions fieldset .column-12 {
  overflow-x: hidden;
}

.abstractor_abstractions fieldset .clear {
  clear: both;
}

.abstractor_abstractions fieldset .abstraction_schema_name {
  font-weight: bold;
  margin-bottom: 0.3em;
}

.abstractor_abstractions fieldset .abstractor_abstraction_value {
  margin-bottom: 0.5em;
}

.abstractor_abstractions fieldset .editable_abstraction {
  border-bottom: 1px #969696 dashed;
}

.abstractor_abstractions fieldset .abstractor_abstraction_source_tooltip_img img {
  vertical-align: text-bottom;
}

.abstractor_abstractions fieldset .hidden {
  display: none;
}

.abstractor_abstractions fieldset .abstractor_abstraction_edit div {
  padding: 2px 0;
}

.abstractor_abstractions fieldset a.button {
  vertical-align: bottom;
}

.abstractor_abstractions .abstractor_abstraction_source_tooltip {
  display: none;
}

ul.ui-autocomplete, .ui-dialog {
  z-index: 1000 !important;
}
.abstractor_abstractions hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
}

/* Tooltips */
div.tooltip {
  background-color: #e2ecf6;
  border-bottom-color: #324686;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color-ltr-source: physical;
  border-left-color-rtl-source: physical;
  border-left-color-value: #324686;
  border-left-style-ltr-source: physical;
  border-left-style-rtl-source: physical;
  border-left-style-value: solid;
  border-left-width-ltr-source: physical;
  border-left-width-rtl-source: physical;
  border-left-width-value: 1px;
  border-right-color-ltr-source: physical;
  border-right-color-rtl-source: physical;
  border-right-color-value: #324686;
  border-right-style-ltr-source: physical;
  border-right-style-rtl-source: physical;
  border-right-style-value: solid;
  border-right-width-ltr-source: physical;
  border-right-width-rtl-source: physical;
  border-right-width-value: 1px;
  border-top-color: #324686;
  border-top-style: solid;
  border-top-width: 1px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  max-width: 400px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.tooltip {
  display: none;
}

#dialog_tooltip {
  font-size: 13px;
  line-height: 1.5em;
  max-height: 400px;
}

span.tooltip_img {
  padding-top: 0.25em;
  width: 1.25em;
  display: inline-block;
}

.watermark {
  font-style:italic
}

.abstractor_abstraction_actions {
  float: right;
}
.abstractor_abstraction_actions a {
  margin: .25em;
}

.abstractor_abstraction_edit .indirect_source_list {
  margin-bottom: 1em;
}

.indirect_sources label {
  font-weight: bold !important;
}

.indirect_source_list {
  width: 35%;
}

.indirect_source_text {
   border: 1px solid #969696;
}

.indirect_source {
  margin-bottom: 1em;
}

.abstractor_suggestion_values .custom_explanation {
  margin-top: .5em;
}

.abstractor_suggestion_values .custom_explanation label {
  font-weight: bold !important;
}